<div class="max-w-4xl mx-auto bg-gray-50 p-12">
  <h1 class="text-4xl font-extrabold text-center mb-8 text-gray-800">Sour Club</h1>

  <div class="flex justify-center mb-8">
    <%= link_to "Add a New Sour", new_beer_path,
      class: "inline-block px-6 py-2 bg-indigo-600 text-white font-semibold rounded-lg hover:bg-indigo-700 transition duration-200" %>
  </div>

  <div>
    <%= turbo_stream_from "beers" %>

    <div id="beer_grid" class="grid gap-6 sm:grid-cols-2 lg:grid-cols-3">
      <%= render @beers %>
    </div>
  </div>
</div>